# WordPress
web/wp
web/.htaccess

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
!.env.example

# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep
