/*!
 * RCDFund 2.0.0
 */


// Core variables and mixins
@import "bootstrap/less/variables";
@import "variables";
@import "bootstrap/less/mixins";
@import "mixins";

// Reset
@import "bootstrap/less/normalize";
// @import "bootstrap/less/print";

// Fonts
@import "fonts";

// Core CSS
@import "bootstrap/less/scaffolding";
@import "scaffolding";
@import "bootstrap/less/type";
@import "type";
// @import "bootstrap/less/code";
@import "bootstrap/less/grid";
// @import "bootstrap/less/tables";
@import "bootstrap/less/forms";
@import "bootstrap/less/buttons";
@import "buttons";

// Components
@import "bootstrap/less/component-animations";
@import "bootstrap/less/glyphicons";
@import "bootstrap/less/dropdowns";
// @import "bootstrap/less/button-groups";
// @import "bootstrap/less/input-groups";
@import "bootstrap/less/navs";
@import "bootstrap/less/navbar";
@import "navbar";
// @import "bootstrap/less/breadcrumbs";
// @import "bootstrap/less/pagination";
// @import "bootstrap/less/pager";
// @import "bootstrap/less/labels";
// @import "bootstrap/less/badges";
// @import "bootstrap/less/jumbotron";
@import "bootstrap/less/thumbnails";
// @import "bootstrap/less/alerts";
// @import "bootstrap/less/progress-bars";
// @import "bootstrap/less/media";
// @import "bootstrap/less/list-group";
// @import "bootstrap/less/panels";
// @import "bootstrap/less/wells";
// @import "bootstrap/less/close";

// Components w/ JavaScript
// @import "bootstrap/less/modals";
// @import "bootstrap/less/tooltip";
// @import "bootstrap/less/popovers";
@import "bootstrap/less/carousel";
@import "carousel";

// Utility classes
@import "bootstrap/less/utilities";
@import "utilities";
@import "bootstrap/less/responsive-utilities";


// Main styles
// -----------

// Default color and texture
body { .sand; .sand > .paper; }

// Fit all images inside their containers
img { max-width: 100%; height: auto; }

// Make space for fixed navbar
body { padding-top: @navbar-height; }

// Push fixed navbar down when wp adminbar is displayed
body.admin-bar .navbar-fixed-top {
  top: @wp-adminbar-height;
  @media (max-width: @wp-adminbar-mobile-breakpoint) {
    top: @wp-adminbar-mobile-height;
  }
}

// Wrap padding
.wrap {
  .pt-lg;
  .pb-lg;
}

// Featured image wrap types
.wrap {
  &.featured-image-left,
  &.featured-image-right {
    .featured-image {
      .hidden-xs;
      position: absolute;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
  &.featured-image-left .featured-image {
    top: 0; right: 50%; bottom: 0; left: 0;
  }
  &.featured-image-right .featured-image {
    top: 0; right: 0; bottom: 0; left: 50%;
  }
}

// Side-by-side wrap type
.wrap.side-by-side {
  img {
    .mb-xs;
    max-width: 60%;
  }
}

// Center page content by default
.wrap {
  .text-center;
}

// Divider images
img.divider {
  width: (.5 * @divider-width);
}

// MailChimp signup
.mc_custom_border_hdr {
  .h3;
}
#mc_mv_EMAIL {

}
#mc_signup .button {
  .btn;
  .btn-default;
  .btn-block;
}

// Post thumbnail styles
.post.post-thumbnail {
  .relative;

  a {
    &, &:hover, &:focus {
      color: white;
    }
  }

  figure {
    -webkit-filter: grayscale(100%);

    img {
      .thumbnail;
      width: 100%;
    }
  }

  header {
    .absolute; .pin;
    background-color: fade( @link-color, 40% );

    .entry-title {
      .absolute; .pin-bottom;
    }
  }
}
