
// Navbar font size
.navbar {
  font-size: @navbar-font-size;
}

// Navbar icons
// ------------
// Replaces navbar item text with icon using classes
// E.g. <li class="navicon navicon-contact">
.navbar .navicon {

  a {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    .hide-text();
    height: @navbar-height;
  }

  &.navicon-contact a {
    width: 62px;
    background-size: 32px auto;
    background-image: url('../img/navicon-contact.png');
  }
  &.navicon-donate a {
    width: 226px;
    background-size: 196px auto;
    background-image: url('../img/navicon-donate.png');
  }
}

// Logotype graphic
.navbar-brand {

  padding-right: 0;
  padding-left: 0;


  // Image appearance
  &,
  & img {
    width: @logo-sm-width;
  }

  &.affix,
  & img.affix {
    position: static;
  }

  // Responsive widths
  @media (min-width: @screen-sm-min) {
    img {
      position: fixed;
      width: @logo-sm-width;
    }
  }
  @media (min-width: @screen-md-min) {
    &,
    img {
      width: @logo-md-width;
    }
    &.affix,
    img.affix {
      width: @logo-md-affix-width;
    }
  }
  @media (min-width: @screen-lg-min) {
    &,
    img {
      width: @logo-lg-width;
    }
    &.affix,
    img .affix {
      width: @logo-lg-affix-width;
    }
  }

  // Float logo to the right on small screens
  @media (max-width: @grid-float-breakpoint) {
    float: right;
    padding-right: 15px;
  }

  // Animations
  @media (min-width: @grid-float-breakpoint) {
    &,
    img {
      .transition(~'width 230ms ease-in-out');
    }
  }
}
