/*!
 * Roots 6.5.0
 */

@import "fonts";

@import "bootstrap/bootstrap";


/* ==========================================================================
   Debug
   ========================================================================== */

// header,
// footer {
//    background-color: rgba(0,100,0,.1);
// }
// section {
//    background-color: rgba(100,0,0,.1);
//    &:nth-child(even) {
//       background-color: rgba(0,0,100,.1);
//    }
//   .section-title {
//     background-color: rgba(0,0,200,.1);
//     span {
//       background-color: rgba(0,0,200,.1);
//     }
//   }
// }
// .container {
//    background-color: rgba(100,50,0,.1);
// }
// .row {
//    background-color: rgba(0,100,100,.1);
// }
// [class^='col-'] {
//    background-color: rgba(0,100,50,.1);
// }

/* ==========================================================================
   Base
   ========================================================================== */

body { }

header,
section,
footer {
  padding-top: @line-height-computed;
  padding-bottom: @line-height-computed;
}

figure figcaption {
  margin-top: .5em;
}


/* ==========================================================================
   Header
   ========================================================================== */

.banner {
}

.banner .logo {
  max-width: 70%;
  max-height: 255px;
  height: auto;
  margin: (2 * @line-height-computed) auto;
}

.banner .tagline {
  margin-top: (2 * @line-height-computed);
  margin-bottom: (2 * @line-height-computed);

  font-size: ceil(@font-size-base * 1.70);
  font-weight: bold;

  @media (min-width: @container-desktop) {
    margin-top: (4 * @line-height-computed);

    font-size: floor(@font-size-base * 2.60);
  }
}



/* ==========================================================================
   Connor's Run
   ========================================================================== */

.connors-run {

  .section-title {
    margin-top: -(1.5 * @line-height-computed);
    span {
      padding: .25em .75em .1em;
    }
  }
}


/* ==========================================================================
   About
   ========================================================================== */

.about {

  .areas {
    background-color: mix(white, @body-bg, 80%);
    border-radius: @border-radius-large;
    .box-shadow(~"0 1px rgba(0,0,0,.1)");

    margin-top: @line-height-computed;
    margin-bottom: @line-height-computed;
    padding-top: @line-height-computed;
    padding-bottom: @line-height-computed;

    h4 {
      text-transform: uppercase;

      max-width: 50%;
      margin-left: auto;
      margin-right: auto;
    }

    .area-research h4 {
      color: @cyan;
      border-bottom: 1px solid mix(white, @cyan, 50%);
    }
    .area-care h4 {
      color: @banana;
      border-bottom: 1px solid mix(white, @banana, 50%);
    }
    .area-development h4 {
      color: @salmon;
      border-bottom: 1px solid mix(white, @salmon, 50%);
    }
  }

  figure img {
    max-height: 255px;
    width: auto;
  }
}


/* ==========================================================================
   Board
   ========================================================================== */

.board {

  [class^='col-'] {
    margin-top: @line-height-computed;
    margin-bottom: @line-height-computed;
  }

  figure img {
    max-height: 255px;
    width: auto;
  }
}


/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info {

}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Utilities
   ========================================================================== */

.block {
   display: block;
}

.text-center .img-responsive {
  margin-left: auto;
  margin-right: auto;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm) { }

@media (min-width: @screen-md) { }

@media (min-width: @screen-lg) { }
