
// Uppercase small headers
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 { text-transform: uppercase; }
h1, .h1, h2, .h2 { letter-spacing: 2px; }
h3, .h3, h4, .h4, h5, .h5, h6, .h6 { letter-spacing: 1px; }

// Ex: 17px base font * 82.35% = about 14px
small, .small  { font-size: 82.35%; }
