
// COLORS
// ------

// Fill colors
.fill-darkblue {
  .fill-with(@darkblue);
}
.fill-teal {
  .fill-with(@teal);
}
.fill-sand {
  .fill-with(@sand);
}
.fill-dust {
  .fill-with(@dust);
}
.fill-nearwhite {
  .fill-with(@nearwhite);
}
.fill-yellow {
  .fill-with(@yellow);
}
.fill-pink {
  .fill-with(@pink);
}
.fill-red {
  .fill-with(@red);
}
.fill-brown {
  .fill-with(@brown);
}

// TYPOGRAPHY
// ----------

// Cursive text
.cursive {
  font-family: @font-family-cursive;
  font-weight: normal !important;
  text-transform: none !important;
}

// Uppercase text
.uppercase {
  text-transform: uppercase;
}
