
// GLOBAL VALUES
// --------------------------------------------------

// Utilities
// -------------------------

// Column max-widths expressed in pixels
@col-sm-maxwidth:       60px;
@col-md-maxwidth:       78px;
@col-lg-maxwidth:       95px;

// Fixed sizes for logo at different intervals
@logo-sm-width:         (3 * @col-sm-maxwidth);
@logo-md-width:         (3 * @col-md-maxwidth);
@logo-lg-width:         (3 * @col-lg-maxwidth);

// Height of the wp-adminbar
@wp-adminbar-height:       32px;


// Named colors
// -------------------------

@darkblue:              #302e46;
@teal:                  #7cccbf;
@sand:                  #e4dcc1;
@dust:                  #f1ede0;
@nearwhite:             #e7e7e7;
@yellow:                #fec24d;
@pink:                  #ef968f;
@red:                   #a42922;
@brown:                 #675141;


// Links
// -------------------------

@link-color:            @brand-primary;
@link-hover-color:      darken(@link-color, 15%);

// Typography
// -------------------------

@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;

@font-size-base:          17px;
@font-size-large:         ceil(@font-size-base * 1.176); // ~20px
@font-size-small:         ceil(@font-size-base * 0.823); // ~14px

@font-size-h1:            floor(@font-size-base * 3.059); // ~52px
@font-size-h2:            floor(@font-size-base * 2.353); // ~40px
@font-size-h3:            @font-size-large;
@font-size-h4:            @font-size-small;
@font-size-h5:            @font-size-h4;
@font-size-h6:            @font-size-h5;

@line-height-base:        1.412; // ~24/17
@line-height-computed:    floor(@font-size-base * @line-height-base); // ~24px


// Brand colors
// -------------------------

@brand-primary:         @darkblue;
@brand-success:         @teal;
@brand-warning:         @yellow;
@brand-danger:          @red;
@brand-info:            @brown;


// COMPONENT VARIABLES
// --------------------------------------------------

// Navbar
// -------------------------

// Basics of a navbar
@navbar-height:                    40px;

@navbar-default-color:             white;
@navbar-default-bg:                @teal;
@navbar-default-border:            darken(@navbar-default-bg, 10%);

// Navbar links
@navbar-default-link-color:                @link-color;
@navbar-default-link-hover-color:          @link-hover-color;
@navbar-default-link-hover-bg:             darken(@navbar-default-bg, 5%);
@navbar-default-link-active-color:         white;
@navbar-default-link-active-bg:            darken(@navbar-default-bg, 10%);
@navbar-default-link-disabled-color:       mix(@navbar-default-bg, @navbar-default-link-color, 40%);

// Navbar toggle
@navbar-default-toggle-hover-bg:           @navbar-default-link-hover-bg;
@navbar-default-toggle-icon-bar-bg:        @navbar-default-link-color;
@navbar-default-toggle-border-color:       transparent;
