
// GLOBAL VALUES
// --------------------------------------------------

// Utilities
// -------------------------

// Column max-widths expressed in pixels
@col-sm-maxwidth:       60px;
@col-md-maxwidth:       78px;
@col-lg-maxwidth:       95px;

// Fixed sizes for logo at different intervals
@logo-sm-width:               (3 * @col-sm-maxwidth) - @padding-large-horizontal;
@logo-md-width:               (3 * @col-md-maxwidth) - @padding-large-horizontal;
@logo-lg-width:               (3 * @col-lg-maxwidth) - @padding-large-horizontal;

@logo-sm-affix-width:         (1 * @col-sm-maxwidth) - @padding-large-horizontal;
@logo-md-affix-width:         (1 * @col-md-maxwidth) - @padding-large-horizontal;
@logo-lg-affix-width:         (1 * @col-lg-maxwidth) - @padding-large-horizontal;

// The wp-adminbar
@wp-adminbar-mobile-breakpoint:   782px;
@wp-adminbar-height:              32px;
@wp-adminbar-mobile-height:       46px;


// Named colors
// -------------------------

@darkblue:              #302e46;
@teal:                  #7cccbf;
@sand:                  #e4dcc1;
@dust:                  #f1ede0;
@nearwhite:             #e7e7e7;
@yellow:                #fec24d;
@pink:                  #ef968f;
@red:                   #a42922;
@brown:                 #675141;

// Links
// -------------------------

@link-color:            @brand-primary;
@link-hover-color:      darken(@link-color, 15%);

// Typography
// -------------------------

@font-family-sans-serif:  "BrandonGrotesque", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-cursive:     "Sacramento", cursive;
@font-family-base:        @font-family-sans-serif;

@font-size-base:          17px;
@font-size-large:         ceil(@font-size-base * 1.176); // ~20px
@font-size-small:         ceil(@font-size-base * 0.823); // ~14px

// @font-size-h1:         floor(@font-size-base * 3.059); // ~52px
@font-size-h1:            floor(@font-size-base * 2.353); // ~40px
@font-size-h2:            floor(@font-size-base * 2.353); // ~40px
@font-size-h3:            @font-size-large;
@font-size-h4:            @font-size-small;
@font-size-h5:            @font-size-h4;
@font-size-h6:            @font-size-h5;

@line-height-base:        1.412; // ~24/17
@line-height-computed:    floor(@font-size-base * @line-height-base); // ~24px

@headings-font-weight:    bold;

@keyline-base-width:      1px;


// Brand colors
// -------------------------

@brand-primary:         @darkblue;
@brand-success:         @teal;
@brand-warning:         @yellow;
@brand-danger:          @red;
@brand-info:            @brown;


// Textures
// -------------------------

@texture-paper:         url('../img/textured_paper.jpg');
@texture-dust-grid:     url('../img/dust_grid.jpg');
@texture-gray-grid:     url('../img/gray_grid.jpg');


// Buttons
// -------------------------

@btn-font-weight:                bold;
@btn-border-width:               2px;

@btn-default-color:              @link-color;
@btn-default-bg:                 transparent;
@btn-default-border:             @btn-default-color;

@btn-primary-color:              @brand-primary;
@btn-primary-bg:                 transparent;
@btn-primary-border:             @btn-primary-color;

@btn-success-color:              @brand-success;
@btn-success-bg:                 transparent;
@btn-success-border:             @btn-success-color;

@btn-warning-color:              @brand-warning;
@btn-warning-bg:                 transparent;
@btn-warning-border:             @btn-warning-color;

@btn-danger-color:               @brand-danger;
@btn-danger-bg:                  transparent;
@btn-danger-border:              @btn-danger-color;

@btn-info-color:                 @brand-info;
@btn-info-bg:                    transparent;
@btn-info-border:                @btn-info-color;

@btn-link-disabled-color:        @gray-light;


// COMPONENT VARIABLES
// --------------------------------------------------

// Navbar
// -------------------------

// Basics of a navbar
@navbar-height:                     40px;
@navbar-font-size:                  @font-size-small;

@navbar-default-color:              white;
@navbar-default-bg:                 @teal;
@navbar-default-border:             darken(@navbar-default-bg, 10%);

// Navbar links
@navbar-default-link-color:                @link-color;
@navbar-default-link-hover-color:          @link-hover-color;
@navbar-default-link-hover-bg:             darken(@navbar-default-bg, 5%);
@navbar-default-link-active-color:         white;
@navbar-default-link-active-bg:            darken(@navbar-default-bg, 10%);
@navbar-default-link-disabled-color:       mix(@navbar-default-bg, @navbar-default-link-color, 40%);

// Navbar toggle
@navbar-default-toggle-hover-bg:           @navbar-default-link-hover-bg;
@navbar-default-toggle-icon-bar-bg:        @navbar-default-link-color;
@navbar-default-toggle-border-color:       transparent;

// Type
// ------------------------

@abbr-border-color:           @yellow;
@headings-small-color:        fade(@text-color, 70%);
@blockquote-small-color:      @teal;
@blockquote-border-color:     darken(@teal, 5%);
