
// Global values
// --------------------------------------------------

// Named colors
// -------------------------

@darkblue:              #302e46;
@teal:                  #7cccbf;
@sand:                  #e4dcc1;
@dust:                  #f1ede0;
@nearwhite:             #e7e7e7;
@yellow:                #fec24d;
@pink:                  #ef968f;
@red:                   #a42922;
@brown:                 #675141;

// Brand colors
// -------------------------

@brand-primary:         @darkblue;
@brand-success:         @teal;
@brand-warning:         @yellow;
@brand-danger:          @red;
@brand-info:            @brown;


// COMPONENT VARIABLES
// --------------------------------------------------


// Navbar
// -------------------------

@adminbar-height:                  32px;
@navbar-height:                    40px;
